@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
/* ORDER SECTION RELATED CSS  */
.book-demo{
    text-align: center;
    font-size: 2.8rem;
    text-shadow: 3px 3px 3px grey;
    margin-bottom: 4rem;
    margin-top: 6rem;
}
form{
    display: grid;
    grid-template-columns: repeat(2,auto);
}
label{
    font-size: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-family: 'Merriweather', serif;
}
.form-grp{
    display: flex;
    flex-direction: column;
}
.form-grp-3{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20rem; */
}

select {
    outline: none;
    padding: 1rem 2rem;
    width: 80%;
    border: 1px solid black;
    background-color: rgb(216, 216, 236);
    border-radius: 8px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"] {
    outline: none;
    font-family: 'Merriweather', serif;
    width: 80%;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(216, 216, 236);
}
.form-wrapper-2{
    display: grid;
    grid-template-columns: repeat(1,auto);
    width: 150%;
    margin-left: 10rem;
}
.submit-btn{
    color: whitesmoke;
    background-color: rgb(139, 139, 220) ;
    padding: 1.5rem 3.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;
    outline: none;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 7rem;
    width: 35%;
}
.submit-btn:hover {
    background-color: black;
    color: whitesmoke;
    border: 2px solid grey;
    transition: all 0.8s ease-in;
}


@media only screen and (max-width:780px){
    form{
        display: grid;
        grid-template-columns: repeat(1,auto);
    }
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="date"],
    input[type="time"] {
    width: 100%; 
    }
    select {
        width: 100%;
    }
    .form-wrapper-2{
        display: grid;
        grid-template-columns: repeat(1,auto);
        width: 190%;
        margin-left: -15rem;
    }
}
@media only screen and (min-width:768px) and (max-width:770px) {
    .form-wrapper-2{
        display: grid;
        grid-template-columns: repeat(1,auto);
        width: 190%;
        margin-left: -30rem;
    }
    .footer-wrapper{
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap: 0rem;
    }
    .footer-left{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        margin-bottom: 10rem;
        margin-left: 5rem;
    }
    .footer-middle{
        margin-left: -25rem;
    }
    .footer-right{
        margin-top: -4rem;
        margin-left: 10rem;
    }
    .footer-social-link{
        margin-left: 2rem;
        display: flex;
    }
}